:root {
  --blue-color-1--: #0D5EBA;
  --blue-color-3--: #B8E0EF;
  --black-color-1--: #343434;
  --blue-color-2--: #002D69;
  --white-color--: #FFFFFF;
  --black-color-2--: #000000;
  --grey-color--: #53585F;
}

.container {
  margin-left: 77px;
  margin-right: 77px;
}

h2 {
  width: 415px;
  height: 41px;
  font-weight: 700;
  font-size: 36px;
  color: var(--blue-color-2--);
}